<!DOCTYPE html>
<html>
  <head>
    <title>CMPUT 291 mini proj 1</title>
    <link rel="stylesheet" type="text/css" href="static/stylesheet1.css">
  </head>
  <body>
    <div class="container-header">
      <h1>WELCOME</h1>
    </div>
    <div class="container-body">
      <a href='/customer' style='text-decoration: none'><div class='button-large'><p>User</p></div></a>
      <a href='/agent' style='text-decoration: none'><div class='button-large'><p>Agent</p></div></a>
    </div>
    <div class="container-base">
    </div>
  </body>
</html>
